@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
	--gap-space: 0.5rem;
	--font-cartoon: 'Bangers', cursive;
	--font-color: #ef7b45;
	--border-radius: 0.25rem;
  --background-color-tiles: #8BDEDF;
  --background-color-active-tiles: #2C5364;
  --background-grid: #CDEDF6;
}

#root {
	height: 100%;
}

* {
	max-width: 100%;
	position: relative;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	overflow-x: hidden;
	background: #0f2027; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.title {
	font-family: var(--font-cartoon);
	text-align: center;
	width: 100%;
	margin: 2rem 0 0 0;
	color: var(--font-color);
}

.wrapperTable {
	margin: 0 auto;
}

.table {
	background-color: var(--background-grid);
	border-radius: var(--border-radius);
	padding: var(--gap-space);
	display: grid;
	gap: var(--gap-space);
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	-ms-border-radius: var(--border-radius);
	-o-border-radius: var(--border-radius);
}

.cell {
	font-family: var(--font-cartoon);
	background-color: var(--background-color-tiles);
	transition: 1s;
	border-radius: var(--border-radius);
	font-weight: 700;
	font-size: 1.5rem;
	width: 5rem;
	height: 5rem;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	-ms-border-radius: var(--border-radius);
	-o-border-radius: var(--border-radius);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

.active {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	background-color: var(--background-color-active-tiles);
	transition: 0.5s;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	-ms-border-radius: var(--border-radius);
	-o-border-radius: var(--border-radius);
}
.score-board {
  font-size: 1.5rem;
  margin-bottom: -.5rem;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem .5rem;
  border: solid .5rem var(--background-grid);
  font-family: var(--font-cartoon);
  color: var(--font-color);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.score-board h2{
  margin:0;
  font-size: 1.5rem;
}

/**
 * On score update
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 .bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

/**
* On tiles pop
* ----------------------------------------
* animation scale-up-center
* ----------------------------------------
*/
.scale-up-center {
  z-index:20;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/**
* On tiles addition on vertical move
* ----------------------------------------
* animation flip-scale-up-hor
* ----------------------------------------
*/
.flip-scale-up-hor {
  z-index:20;
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

 @-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-0deg);
            transform: scale(1) rotateX(-0deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-0deg);
            transform: scale(1) rotateX(-0deg);
  }
}


/**
* On tiles addition on horizontal move
* ----------------------------------------
* animation flip-scale-up-ver
* ----------------------------------------
*/
.flip-scale-up-ver {
  z-index:20;
	-webkit-animation: flip-scale-up-ver 0.5s linear both;
	        animation: flip-scale-up-ver 0.5s linear both;
}

 @-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
            transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
            transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
}
